.element__like {
  background-image: url(../../../image/like_unactive.svg);
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin-top: 5px;
  width: 22px;
  height: 19px;
  border: none;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}