.popup__input {
  border-width: 0;
  margin: 30px 36px 0;
  padding: 0 0 13px;
  max-width: 358px;
  width: 100%;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-style: normal;
}

.popup__input:first-of-type {
  margin: 0 36px 0;
}

.popup__input:invalid {
  border-bottom: 1px solid red;
}

.popup__input:valid {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 580px) {
  .popup__input {
    max-width: 238px;
    margin: 30px 22px 0;
  }

  .popup__input:first-of-type {
    margin: 0 22px 0;
  }
}